extends layout

block content 
  .section.hero.black-bg
    .container
      .row
        .one-half.column
          h1.hero-heading Di Vashti
          h4.hero-heading Full-Stack Software Engineer
          p.value-description I love to build tech that matters, and work with motivated, fun, brilliant people who believe in delivering dynamic applications that obsess over the user-experience. I have 1 and a half years experience with Node.js development using a variety of the industries most popular new frameworks and technologies. 
        .one-half.column
          img.creep(src='images/creepyClownDi.JPG')
  .section.family-values
    .container
      .row
        .one-half.column
          img.sjibdl(src='images/SJIBDL.png')
        .one-half.column
          a.hero-heading(href='stjamesbaddatelist.herokuapp.com') St. James Infirmary - BDL 
          h4.hero-heading Project Lead 
          p.value-description In June of 2017 I was approached by St. James Infirmary, a SF-based non-profit serving sex-worker communities to build a single-page mobile-first web-application with MVP due within 4 weeks. I lead the team and am the current product manager for the application which has been live since July 1st, 2017.
          p Stack/Technologies:
          .row 
            ul.one-half.column
              li React 
              li MongoDB 
              li React-router
            ul.one-half.column  
              li Google Maps API
              li MaterialUI
  .section.hero
    .container
