/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav-button {
  border-radius: 8px;
  background-color: #CEC3C1;
  margin-left: 5px;
  margin-top: 5px;
  color: #240115;
}

.nav-buttons {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 8vh;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  height: 48px;
}

.black-bg {
  background-color: #240115;
  color: #87F5FB;
}

a.hero-heading {
  color: #2F131E;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}
.creep {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
  border: 1px solid black;
}
.sjibdl {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
  border: 1px solid #2F131E;
}


/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.family-values {
  background-color: #87F5FB;
  color: #240115;
  height: 400px;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

/* mobile */
@media only screen and (min-width: 0px) and (max-width: 549px){
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .section.hero {
    padding: 4rem 0 0 0;
    height: 45rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 525px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .creep {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 13rem;
    z-index: 3;
  }
  .hero-heading {
    font-size: 2.4rem;
  }

}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 525px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .creep {
    position: absolute;
    top: 7rem;
    height: 253px;
    width: 190px;
    z-index: 3;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 390px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 7rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .creep {
    top: 13rem;
    right: 0px;
    height: 400px;
    width: 300px;
    margin-left: 35px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .hero {
    padding: 7rem 0;
    height: 420px;
  }
  .family-values{
    padding-top: 135px;
    height: 330px;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
  .creep {
    top: -1rem;
    right: 0px;
    height: 533px;
    width: 400px;
    margin-left: 35px;
  }
  .sjibdl {
    top: -1rem;
    height: 533px;
    width: 400px;
    margin-right: 35px;
  }
}
